<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h2>Вход</h2>
    <form method="post">
        {% csrf_token %}
        <label>Email</label>
        <input type="email" name="email" required>
        <label>Пароль</label>
        <input type="password" name="password" required>
        <button type="submit">Войти</button>
    </form>

    <p><a href="{% url 'password_reset' %}">Забыли пароль?</a></p>
    <p><a href="{% url 'register' %}">Регистрация</a></p>
</body>
</html>